<!DOCTYPE html>
<html lang="it-IT" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">

<head>
<title>Inserimento Tag</title>
</head>
<body>
	<h1>Inserisci tag del progetto</h1>
	<form id=insertTagForm
		th:action="@{/add/tag/{projectid}(projectid=${projectForm.id})}"
		method="POST">
		<table>
			<tr>
				<td><label for="nomeInput">Nome</label></td>
				<td><input id=nomeInput type="text" placeholder="NOME"
					th:field="${tagForm.nome}" required></td>
			</tr>

			<tr>
				<td><label for="descrizioneInput">Colore</label></td>
				<td><input id=descrizioneInput type="text" placeholder="COLORE"
					th:field="${tagForm.colore}"></td>
			</tr>

			<tr>
				<td><label for="dataInput">Descrizione</label></td>
				<td><input id=dataInput type="text" placeholder="DESCRIZIONE"
					th:field="${tagForm.descrizione}"></td>
			</tr>

			<tr>
				<td><button type="submit">INSERISCI TAG</button></td>
			</tr>


		</table>
	</form>
</body>
</html>
