<!DOCTYPE html>
<html lang="it-IT" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>

<title>SIW</title>

</head>

<body>

	<h1 style="font-size: 200%; color: black;">Registrazione utente</h1>
	<form id="registerUserForm" th:action="@{/users/register}"
		method="POST">
		<table>
			<tr>
				<td><label for="userNameInput">Username</label></td>
				<td><input id=userNameInput type=text placeholder="USERNAME"
					required th:field="${credentialsForm.userName}" /></td>
				<td th:if="${#fields.hasErrors('credentialsForm.userName')}"
					th:errors="${credentialsForm.userName}" th:style="'color:red'"></td>
			</tr>

			<tr>
				<td><label for="passwordInput">Password</label></td>
				<td><input id=passwordInput type=text placeholder="PASSWORD"
					th:field="${credentialsForm.password}" />
				<td>
				<td th:if="${#fields.hasErrors('credentialsForm.password')}"
					th:errors="${credentialsForm.password}" th:style="'color:red'"></td>
			</tr>

			<tr>
				<td><label for="nomeInput">Nome</label></td>
				<td><input id=nomeInput type=text placeholder="NOME"
					th:field="${userForm.nome}" /></td>
				<td th:if="${#fields.hasErrors('userForm.nome')}"
					th:errors="${userForm.nome}" th:style="'color:red'"></td>
			</tr>

			<tr>
				<td><label for="cognomeInput">Cognome</label></td>
				<td><input id=cognomeInput type=text placeholder="COGNOME"
					th:field="${userForm.cognome}"></td>
				<td th:if="${#fields.hasErrors('userForm.cognome')}"
					th:errors="${userForm.cognome}" th:style="'color:red'"></td>
			</tr>

			<tr>
				<td>
					<button type="submit">REGISTRATI</button>
				</td>
			</tr>

		</table>
	</form>
</body>
</html>